@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-bungee-shade: 'Bungee Shade';
  --font-space-mono: 'Space Mono'
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-space-mono);
  overflow: hidden;
}

/*
canvas {
  border: 2px solid red; /* To visualize the canvas */