/* MovingBanner.module.css */

.bannerContainer {
    position: fixed;
    bottom: 0;  /* Position at the bottom */
    left: 0;
    right: 0;
    background-color: #F2A30F; /* Background color */
    color: #F21D44;           /* Text color */
    overflow: hidden;       /* Hide overflow */
    white-space: nowrap;    /* Prevent line breaks */
    z-index: 1000;          /* Ensure it appears above other content */
    height: 80px;  
  }
  
  
  .bannerContent {
    display: inline-flex; /* ensures both <p> elements are displayed on a single line */
    padding-left: 100vw;
    animation: moveBanner 15s linear infinite; /* Animation */
    font-size: 40px; /* Increase font size */
    line-height: 80px; /* Center text vertically if height is 80px */  
    font-family: var(--font-bungee-shade);  
  }
  
  @keyframes moveBanner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Move off screen */
    }
  }
  