/* MovingBanner.module.css */
.bannerContainer {
    position: fixed;
    bottom: 0;  /* Position at the bottom */
    left: 0;
    right: 0;
    background-color: #333; /* Background color */
    color: white;           /* Text color */
    overflow: hidden;       /* Hide overflow */
    white-space: nowrap;    /* Prevent line breaks */
    z-index: 1000;         /* Ensure it appears above other content */
  }
  
  
  .bannerContent {
    display: inline-flex; /* ensures both <p> elements are displayed on a single line */
    padding-left: 100vw;
    animation: moveBanner 15s linear infinite; /* Animation */
  }

  .bannerContent p {
    margin: 0;
    padding-left: 100vw; /* Start the first instance off-screen */
  }
  
  @keyframes moveBanner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Move off screen */
    }
  }
  